html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%; }

h1 {
  font-size: 2rem;
  /*32 px*/ }

h2 {
  font-size: 1.75rem;
  /*28 px*/ }

h3 {
  font-size: 1.5rem;
  /*24 px*/ }

h4 {
  font-size: 1.25rem;
  /*20 px*/ }

h5 {
  font-size: 1.125rem;
  /*18 px*/ }

h6 {
  font-size: 1rem;
  /*16 px*/ }

div {
  margin: 0;
  padding: 0; }
